In [ ]:
#The main idea of this model is to predict the Cumulative grade point

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df_table = pd.read_csv(r"C:\Users\User\Desktop\forgh\StudentsPerformance_with_headers.csv")
df_table

,STUDENT ID,Student Age,Sex,Graduated high-school type,Scholarship type,Additional work,Regular artistic or sports activity,Do you have a partner,Total salary if available,Transportation to the university,...,Preparation to midterm exams 1,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion improves my interest and success in the course,Flip-classroom,Cumulative grade point average in the last semester (/4.00),Expected Cumulative grade point average in the graduation (/4.00),COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [3]:
cat_features = [
    'STUDENT ID'
]

In [4]:
y = df_table['Expected Cumulative grade point average in the graduation (/4.00)']
df_table.drop("Expected Cumulative grade point average in the graduation (/4.00)", axis=1, inplace=True)
X = df_table
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [5]:
from catboost import CatBoostClassifier, CatBoostRegressor, Pool
from sklearn.model_selection import KFold  # k-фолдная валидация

In [21]:
clf = CatBoostClassifier(thread_count=-1,
                         random_seed=42,
                         cat_features=cat_features,
                         )

clf.fit(
    X_train,
    y_train,
    eval_set=(X_test, y_test),
    verbose=200,
    use_best_model=True,
    plot=True,
    early_stopping_rounds=100,
)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

Learning rate set to 0.103423
0:	learn: 1.3688844	test: 1.3610302	best: 1.3610302 (0)	total: 33.2ms	remaining: 33.1s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 1.152713166
bestIteration = 58

Shrink model to first 59 iterations.